<% provide :title, t(".home") %>
    <section id="blog-section" >
     <div class="container">
       <div class="row">
         <div class="col-lg-8">
          <%= paginate @stories %>
           <div class="row">
            <div id="list-story">
            <%= render "list_truyen", collection: @stories %>
            </div>
              </div>
              </div>
            <div class="col-lg-4">
              <div class="widget-sidebar">
                <h2 class="title-widget-sidebar">Các truyện mới</h2>
                  <div class="content-widget-sidebar">
                    <ul>
                      <%= render "list_story", collection: @stories %>
                      <%= paginate @stories %>
                    </ul>
              </div>
            </div>
             <div class="widget-sidebar">
              <h2 class="title-widget-sidebar">Các Tác Giả</h2>
                <div class="last-post">
                  <%= render "list_author", collection: @stories %>
                  <%= paginate @stories %>
                </div>
                 <hr>
            <div class="widget-sidebar">
              <h2 class="title-widget-sidebar">Các loại truyện</h2>
                 <button class="categories-btn"><%= t ".truyencuoi" %></button>
                 <button class="categories-btn"><%= t ".truyenteen" %></button>
                 <button class="categories-btn"><%= t ".truyenngungon" %></button>
                 <button class="categories-btn"><%= t ".truyenngan" %></button>
                 <button class="categories-btn"><%= t ".truyenngontinh" %></button>
            </div>
          </div>
        </div>
      </div>
    </section>

   <script>
         $(document).ready(function(){
         $('[data-toggle="tooltip"]').tooltip();
         });

      var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  }
}
</script>
