<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application_dashboard", media: "all",
      :"data-turbolinks-track" => "reload" %>
    <%= javascript_include_tag "application_dashboard",
      :"data-turbolinks-track" => "reload" %>
  </head>

  <body>
    <%= render "layouts/admin/admin_header" %>
    <div id="page-wrapper">
      <div class="container-fluid mt-40">
        <% flash.each do |message_type, message| %>
          <div class="time-out alert alert-<%= message_type %>">
            <%= message %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
